*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: $background;
  font: 400  18px / 25px 'Source Sans Pro', sans-serif;
  color: $fontcolor;
}
a {
  color: $linkcolor;
  outline: none;
}
a:hover,
a:active {
  text-decoration: none;
}
p {
  margin: 0 0 10px;
}
img {
  display: block;
  max-width: 100%;
}
b,
strong {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fregat', sans-serif;
  font-weight: 700;
  color: $titlecolor;
  line-height: normal;
  margin: 0 0 10px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}
ul.marker li,
ol.marker li {
  padding-left: 25px;
  position: relative;
}
ul.marker li:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $linkcolor;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
}
ol.marker li {
  counter-increment: step-counter;
}
ol.marker li:before {
  content: counter(step-counter) '.';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  line-height: 25px;
  color: $linkcolor;
}
q {
  display: block;
  margin: 0 0 10px;
  padding: 10px 20px;
  background: #fbfbfb;
  border: 1px solid #eee;
  border-radius: 5px;
}
svg {
  display: block;
  overflow: hidden;
}
input,
textarea,
select,
button {
  outline: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $inputcolor;
  opacity: 1;
  /* Хром */
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $inputcolor;
  opacity: 1;
  /* Файерфокс */
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $inputcolor;
  opacity: 1;
  /* Для старых версий файерфокса */
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $inputcolor;
  opacity: 1;
  /* едж и эксплорер */
}
input::-ms-clear {
  display: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.cover {
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    min-width: 320px;
  }
  @media screen and (min-width: 600px) {
    max-width: 570px;
  }
  @media screen and (min-width: 768px) {
    max-width: 730px;
  }
  @media screen and (min-width: 990px) {
    max-width: 970px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1170px;
  }
  @media screen and (min-width: 1360px) {
    max-width: 1265px;
  }
}
.slick-dots {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  li {
    flex: 0 0 auto;
    padding: 5px;
    button {
      display: block;
      border: none;
      padding: 0;
      outline: 0;
      cursor: pointer;
      font-size: 0;
      background: $background;
      border-radius: 50%;
      height: 8px;
      width: 8px;
      transition: all 0.5s ease;
    }
  }
  li.slick-active {
    button {
      background-color: $linkcolor;
    }
  }
}
.slick-promo-prev,
  .slick-promo-next {
    width: 38px;
    height: 38px;
    background-color: #f5f5f5;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    position: absolute;
    right: 33%;
    top: auto;
    cursor: pointer;
    bottom: 8px;
    @media screen and (min-width: 990px) {
      right: 25px;
      top: 16px;
    }
    @media screen and (min-width: 480px) {
      right: 0;
      top: 8px;
      bottom: auto;
    }
    &:before {
      content: '';
      height: 9px;
      width: 9px;
      border-top: 2px solid #626262;
      border-right: 2px solid #626262;
      border-radius: 2px;
      position: absolute;
      top: 39%;
      right: 40%;
      transform: rotate(45deg);
    }
  }
  .slick-promo-prev {
    left: 33%;
    @media screen and (min-width: 990px) {
      left: auto;
      right: 73px;
    }
    @media screen and (min-width: 480px) {
      left: 0;
    }
    &:before {
      transform: scale(-1, 1);
      transform: rotate(-135deg);
      right: 30%;
    }
  }
  .slick-disabled.slick-promo-prev,
  .slick-disabled.slick-promo-next {
    &:before {
      opacity: 0.3;
    }
  }

