@font-face {
    font-family: 'Fregat';
    src: url('../fonts/fregat/Fregat-Bold.woff') format('woff'),
         url('../fonts/fregat/Fregat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}