@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/arialmt/arialmt-regular.woff') format('woff'),
         url('../fonts/arialmt/arialmt-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/arialmt/arialmt-regular-italic.woff') format('woff'),
         url('../fonts/arialmt/arialmt-regular-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/arialmt/arialmt-bold.woff') format('woff'),
         url('../fonts/arialmt/arialmt-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/arialmt/arialmt-bold-italic.woff') format('woff'),
         url('../fonts/arialmt/arialmt-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'GnuolaneFree';
    src: url('../fonts/gnuolanefree/gnuolanefree-regular.woff') format('woff'),
         url('../fonts/gnuolanefree/gnuolanefree-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}