.comments {
  &__title {
    font: 400 30px / 27px 'GnuolaneFree', sans-serif;
    color: $titlecolor;
    border-bottom: 5px solid #dfdcdc;
    padding-bottom: 15px;
    margin-bottom: 35px;
  }
  &__comment {
    border: 5px solid #dfdcdc;
    padding: 30px 25px;
    margin-bottom: 20px;
    &-main {
      display: flex;
      margin-bottom: 5px;
    }
    &-img-wrapper {
      flex: 0 0 auto;
      width: 35px;
      margin-right: 10px;
      margin-top: 5px;
      @media screen and (min-width: 480px) {
        width: 75px;
      }
    }
    &-img {
      max-width: none;
      width: 100%;
    }
    &-text {
      font: 400 14px / 22px 'ArialMT', sans-serif;
      color: $secondcolor;
      margin-bottom: 0;
    }
    &-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      margin: 0 -12px;
    }
    &-author,
    &-date {
      font: 400 14px / 27px 'ArialMT', sans-serif;
      color: #000000;
      padding: 0 12px;
    }
    &-info {
      display: flex;
      margin-right: 15px;
      flex-wrap: wrap;
    }
    &-reply-wrapper {
      padding: 0 12px;
    }
    &-reply {
      font: 400 16px / 27px 'GnuolaneFree', sans-serif;
      text-decoration: underline;
      color: $titlecolor;
      display: block;
      transition: all 0.3s ease;
    }
  }
}