.company {
  &__cover {
    padding: 35px 15px 5px 15px;
  }
  &__title-wrapper {
    margin-bottom: 30px;
  }
  &__content {
    @media screen and (min-width: 990px) {
      float: left;
      position: relative;
      z-index: 1;
      margin-left: 222px;
      margin-right: 222px;
      width: 496px;
      min-height: 1px;
    }
  }
  &__info-wrapper {
    text-align: center;
    @media screen and (min-width: 990px) {
      padding: 0 70px;
    }
  }
}