.content-types {
  max-width: 230px;
  &__title {
    font: 400 30px / 27px 'GnuolaneFree', sans-serif;
    color: $titlecolor;
    padding-bottom: 12px;
    border-bottom: 5px solid #dfdcdc;
    margin-bottom: 10px;
  }
  &__list,
  &__sublist {
    margin-bottom: 0;
  }
  &__sublist {
    display: none;
  }
  // &__item {
  //   &:active > .content-types__sublist,
  //   &:hover > .content-types__sublist {
  //     display: block;
  //   }
  // }
  &__link,
  &__sublink,
  &__sub-sublink {
    font: 400 16px / 22px 'GnuolaneFree', sans-serif;
    transition: all 0.3s ease;
    text-decoration: none;
    color: $titlecolor;
    display: block;
    border-top: 1px solid #dcdcdc;
    padding: 5px 0;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  &__link {
    &_border {
      border-top: none;
    }
  }
  &__sublink {
    padding-left: 20px;
  }
  &__sub-sublink {
    padding-left: 40px;
  }
}