.footer {
  border-top: 2px solid #f2f2f2;
  background: $greybgcolor;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(../../images/pattern.svg) left top repeat;
  }
  &__wrapper {
    position: relative;
    padding-top: 42px;
    padding-bottom: 42px;
    display: flex;
    margin: 0 -15px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    @media screen and (min-width: 990px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 600px) {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
    }
  }
  &__info {
    padding: 0 15px;
    flex: 0 0 auto;
    @media screen and (min-width: 990px) {
      width: 28%;
    }
    @media screen and (min-width: 600px) {
      max-width: 50%;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    @media screen and (min-width: 600px) {
      margin-top: 0;
    }
  }
  &__img-wrapper {
    max-width: 74px;
  }
  &__logo-text {
    padding-left: 15px;
  }
  &__logo-title {
    font: 700 20px / 20px 'Fregat', sans-serif;
    text-transform: uppercase;
    color: $titlecolor;
    margin-bottom: 2px;
    letter-spacing: 0.5px;
  }
  &__logo-subtitle {
    font: 400 15px / 15px 'Source Sans Pro', sans-serif;
    color: $footerfont;
    letter-spacing: 0.3px;
    margin: 0;
  }
  &__copyright {
    font: 400 15px / 18px 'Source Sans Pro', sans-serif;
    color: $footerfont;
    margin-bottom: 20px;
  }
  &__policy {
    display: block;
    font: 400 15px 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: $titlecolor;
    transition: all 0.2s ease;
    margin-bottom: 18px;
    &:hover,
    &:active {
      color: $linkcolor;
    }
  }
  &__site {
    font: 400 15px 'Source Sans Pro', sans-serif;
    color: $footerfont;
    letter-spacing: 0.3px;
  }
  &__site-link {
    font: 400 15px 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: $titlecolor;
    transition: all 0.3s ease;
    &:hover,
    &:active {
      color: $linkcolor;
    }
  }
  &__contacts {
    padding: 10px 15px 0 15px;
    flex: 0 0 auto;
    @media screen and (min-width: 1200px) {
      width: 19%;
    }
    @media screen and (min-width: 990px) {
      width: 23%;
    }
    @media screen and (min-width: 600px) {
      max-width: 50%;
    }
  }
  &__contacts-wrapper {
    margin-bottom: 23px;
  }
  &__phone-number {
    font: 700 21px / 21px 'Fregat', sans-serif;
    cursor: default;
    text-decoration: none;
    letter-spacing: 0.6px;
    span {
      color: $titlecolor;
    }
  }
  &__time-work {
    font-size: 15px;
    font-weight: 400;
    color: $greycolor;
  }
  &__social-wrapper {
    margin-bottom: 17px;
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -5px;
    max-width: 196px;
    justify-content: center;
    @media screen and (min-width: 600px) {
      justify-content: flex-start;
    }
  }
  &__social-item {
    padding: 5px;
  }
  &__social-link {
    display: block;
    text-decoration: none;
  }
  &__address {
    font: 400  15px / 22px 'Source Sans Pro', sans-serif;
    color: $greycolor;
  }
}