.footernav {
  padding: 0 17px;
  &__title {
    position: relative;
    font: 400 20px / 27px 'GnuolaneFree', sans-serif;
    text-transform: uppercase;
    color: $titlecolor;
    cursor: pointer;
    transition: all 0.3s ease;
    &:before {
      content: '';
      transition: all 0.3s ease;
      position: absolute;
      bottom: -12px;
      left: 0;
      transform: translateX(4px) rotate(45deg); 
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 3px solid $titlecolor;
      border-right: 3px solid $titlecolor;
      @media screen and (min-width: 990px) {
        display: none;
      }
    }
    &:hover,
    &:active {
      color: $fontcolor;
      &:before {
        border-bottom: 3px solid $fontcolor;
        border-right: 3px solid $fontcolor;
      }
    }
    @media screen and (min-width: 990px) {
      cursor: text;
      &:hover,
      &:active {
      color: $titlecolor;
      }
    }
    &_active {
      &:before {
        transform: translateX(4px) rotate(-135deg);
      }
    }
  }
  &__list {
    display: none; 
    @media screen and (min-width: 990px) {
      display: block!important;
    }
  }
  &__link {
    display: inline-block;
    font: 400 14px / 17px 'ArialMT', sans-serif;
    text-decoration: none;
    color: $secondcolor;
    transition: all 0.3s ease;
    &:hover,
    &:active {
      color: $titlecolor;
    }
  }
}