.footer {
  &__border {
    border-top: 5px solid #dfdcdc;
  }
  &__wrapper {
    padding-top: 55px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin: 0 -17px;
    @media screen and (min-width: 990px) {
      padding-right: 270px;
      flex-direction: row;
    }
  }
  &__home {
    @media screen and (min-width: 990px) {
      width: 23%;
    }
  }
  &__inspirations {
    @media screen and (min-width: 990px) {
      width: 23%;
    }
  }
  &__tips {
    @media screen and (min-width: 990px) {
      width: 23%;
    }
  }
  &__advice {
    @media screen and (min-width: 990px) {
      width: 23%;
    }
  }
  &__links {
    width: 100%;
    padding: 0 17px;
    margin-top: 10px;
    @media screen and (min-width: 990px) {
      width: 270px;
      position: absolute;
      right: 0;
      margin-top: 0;
    }
  }
  &__links-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__privacy-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
    margin-bottom: 6px;
    span {
      display: block;
      font: 400 16px / 25px 'GnuolaneFree', sans-serif;
      color: #323232;
      margin: 0 3px;
    }
  }
  &__architecture,
  &__policy {
    display: block;
    font: 400 16px / 25px 'GnuolaneFree', sans-serif;
    color: #323232;
    text-decoration: none;
    margin: 0 3px;
    transition: all 0.3s ease;
  }
  &__policy {
    flex: 0 0 auto;
  }
  &__policy:hover,
  &__policy:active {
    text-decoration: underline;
  }
  &__social-list {
    display: flex;
    flex-wrap: wrap;
    
  }
  &__social-item {
    padding: 2px;
  }
  &__social-twitter,
  &__social-facebook,
  &__social-google {
    position: relative;
    display: block;
    text-decoration: none;
    border-radius: 2px;
    width: 36px;
    height: 36px;
    text-align: center;
    &:hover,
    &:active {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    }
  }
  &__social-twitter {
    background-color: #24b5eb;
  }
  &__social-facebook {
    background-color: #004e76;
  }
  &__social-google {
    background-color: #2a2a2a;
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}