.gallery {
  &__wrapper {
    padding: 35px 0;
  }
  &__content {
    padding-bottom: 30px;
    @media screen and (min-width: 990px) {
      padding-bottom: 40px;
    }
  }
  &__title-wrapper {
    margin-bottom: 35px;
  }
  &__first-gallery {
    margin: 0 -5px;
  }
  &__first-gallery-item {
    display: flex;
    padding: 0 5px;
    position: relative;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
  &__img-wrapper {
    flex: 1 1 auto;
    margin-bottom: 15px;
    @media screen and (min-width: 600px) {
      flex: 1 0 auto;
    }
    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }
    @media screen and (min-width: 990px) {
      margin-right: 0;
    }
  }
  &__img-link {
    display: block;
    text-decoration: none;
    border: 5px solid #dfdcdc;
    padding: 10px;
    transition: all 0.3s ease;
    &:hover,
    &:active {
      border: 5px solid #747474;
    }
  }
  &__img {
    max-width: 100%;
    width: 100%;
    @media screen and (min-width: 990px) {
      max-width: 517px;
    }
    @media screen and (min-width: 768px) {
      max-width: 300px;
    }
  }
  &__text-wrapper {
    padding-right: 17px;
    flex: 0 1 auto;
    &_margin-left {
      @media screen and (min-width: 990px) {
        margin-left: 20px;
      }
    }
  }
  &__title {
    margin-bottom: 6px;
  }
  &__title-link {
    font: 400 16px / 16px 'GnuolaneFree', sans-serif;
    color: $titlecolor;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  &__link-wrapper {
    margin-bottom: 20px;
    @media screen and (min-width: 990px) {
      margin-bottom: 10px;
    }
  }
  &__link {
    font: 400 16px / 16px 'GnuolaneFree', sans-serif;
    text-decoration: underline;
    color: $titlecolor;
    transition: all 0.3s ease;
  }
  &__second-gallery {
    display: flex;
    margin: 0 -5px;
    flex-wrap: wrap;
  }
  &__second-gallery-item {
    padding: 0 5px;
    position: relative;
    width: 100%;
    @media screen and (min-width: 480px) {
      width: 50%;
    }
  }
  &__third-gallery {
    display: flex;
    margin: 0 -5px;
    flex-wrap: wrap;
  }
  &__third-gallery-item {
    width: 100%;
    padding: 0 5px;
    position: relative;
    @media screen and (min-width: 600px) {
      width: calc(100% / 3);
    }
    @media screen and (min-width: 480px) {
      width: 50%;
    }
  }
  &__fourth-gallery {
    display: flex;
    margin: 0 -5px;
    flex-wrap: wrap;
  }
  &__fourth-gallery-item {
    width: 100%;
    padding: 0 5px;
    position: relative;
    @media screen and (min-width: 768px) {
      width: calc(100% / 4);
    }
    @media screen and (min-width: 480px) {
      width: 50%;
    }
  }
}