.header {
  position: relative;
  box-shadow: 0px 1px 29px 0px rgba(34,34,34,0.25);
  z-index: 2;
  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 5px;
    background: url(../../images/nav-wave.svg) left top repeat-x;
    left: 0;
    bottom: -4.5px;
    z-index: 100;
  }
  &__info {
    position: relative;
    display: flex;
    padding: 16px 0 13px;
    margin: 0 -12px;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      margin: 0 -24px;
    }
    @media screen and (min-width: 480px) {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }
    &-left {
      padding: 27px 0 10px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (min-width: 1360px) {
        padding: 27px 110px 30px 0;
      }
      @media screen and (min-width: 1200px) {
        padding: 27px 80px 30px 0;
      }
      @media screen and (min-width: 990px) {
        padding: 27px 50px 30px 0;
        flex-wrap: nowrap;
      }
      @media screen and (min-width: 768px) {
        width: 50%;
        padding: 27px 70px 30px 0;
      }
      @media screen and (min-width: 480px) {
        padding: 27px 0 30px 0;
      }
    }
    &-right {
      display: flex;
      padding: 10px 0 15px 0;
      align-items: flex-end;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (min-width: 1360px) {
        padding: 27px 0 30px 110px;
      }
      @media screen and (min-width: 1200px) {
        padding: 27px 0 30px 80px;
      }
      @media screen and (min-width: 990px) {
        flex-direction: row;
        align-items: center;
        padding: 27px 0 30px 50px;
      }
      @media screen and (min-width: 768px) {
        width: 50%;
        padding: 27px 0 30px 70px;
      }
      @media screen and (min-width: 480px) {
        padding: 27px 0 30px 0;
      }
    }
    &-logo-wrapper {
      padding: 0 12px;
      max-width: 112px;
      @media screen and (min-width: 1200px) {
        max-width: 112px;
      }
      @media screen and (min-width: 990px) {
        max-width: 85px;
      }
      @media screen and (min-width: 768px) {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-logo {
      display: block;
    }
    &-logo-icon {
      max-width: none;
      width: 100%;
    }
  }
  &__contacts {
    display: flex;
    padding: 0 12px;
    flex: 0 0 auto;
    margin-bottom: 0;
    @media screen and (min-width: 1200px) {
      padding: 0 24px;
    }
    @media screen and (min-width: 990px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
  }
  &__phone-number {
    font: 700 21px / 21px 'Fregat', sans-serif;
    cursor: default;
    text-decoration: none;
    letter-spacing: 0.6px;
    span {
      color: #1d1d1b;
    }
  }
  &__time-work {
    font-size: 15px;
    font-weight: 400;
    color: $greycolor;
  }
  &__phone-container {
    display: none;
    flex: 0 0 auto;
    margin-left: 29px;
    @media screen and (min-width: 600px) {
      display: flex;
    }
  }
  &__phone-btn {
    display: block;
    text-decoration: none;
    width: 49px;
    height: 47px;
    background-color: $background;
    border: 2px solid #f2f2f2;
    border-radius: 23.5px;
    position: relative;
    transition: all 0.5s ease;
    &:hover,
    &:active {
      background-color: $linkcolor;
      border: none;
      .header__phone-icon {
        fill: $background;
      }
    }
  }
  &__phone-icon {
    position: absolute;
    fill: $linkcolor;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &__address {
    display: none;
    padding: 0 12px;
    flex: 0 1 auto;
    @media screen and (min-width: 1200px) {
      padding: 0 24px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &__address-wrapper {
    padding-left: 0;
    position: relative;
    @media screen and (min-width: 1200px) {
      padding-left: 32px;
    }
  }
  &__city-wrapper {
    display: inline-block;
    text-decoration: none;
    font: 700 17px / 25px 'Fregat', sans-serif;
    color: $titlecolor;
  }
  &__geo-icon {
    display: none;
    fill: $linkcolor;
    position: absolute;
    left: 0;
    top: 1px;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  &__street {
    font: 400 15px / 25px 'Source Sans Pro', sans-serif;
    color: $blackcolor;
  }
  &__links {
    display: none;
    padding: 0 12px;
    flex: 0 1 auto;
    @media screen and (min-width: 1200px) {
      padding: 0 24px;
    }
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &__comments-link,
  &__deliver-link {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    font: 400 15px / 25px 'Source Sans Pro', sans-serif;
    color: $titlecolor;
    text-decoration: none;
    @media screen and (min-width: 1200px) {
      padding-left: 25px;
    }
    @media screen and (min-width: 990px) {
      padding-left: 0;
    }
  }
  &__comments-link {
    &:hover,
    &:active {
      .header__comments-text {
        color: $linkcolor;
      }
    }
  }
  &__deliver-link {
    padding-right: 0;
    &:hover,
    &:active {
      .header__deliver-text {
        color: $linkcolor;
      }
    }
  }
  &__comments-img {
    position: absolute;
    fill: $linkcolor;
    left: 0;
    top: 6px;
    @media screen and (min-width: 1200px) {
      display: block;
    }
    @media screen and (min-width: 990px) {
      display: none;
    }
  }
  &__comments-text {
    span {
      font: 400 12px / 25px 'Source Sans Pro', sans-serif;
      color: #8b8b8b;
      position: absolute;
      top: -8px;
      margin-left: 4px;
    }
  }
  &__comments-text,
  &__deliver-text {
    transition: all 0.2s ease;
  }
  &__deliver-img {
    position: absolute;
    fill: $linkcolor;
    left: 0;
    top: 5px;
    @media screen and (min-width: 1200px) {
      display: block;
    }
    @media screen and (min-width: 990px) {
      display: none;
    }
  }
  &__orders {
    display: none;
    padding: 0 12px;
    flex: 0 0 auto;
    @media screen and (min-width: 1200px) {
      padding: 0 24px;
    }
    @media screen and (min-width: 990px) {
      display: flex;
    }
    &_nav {
      display: flex;
      @media screen and (min-width: 990px) {
        display: none;
      }
    }
  }
  &__orders-btn {
    display: block;
    border: 2px solid #f2f2f2;
    border-radius: 21.5px;
    text-decoration: none;
    font: 400 15px / 25px 'Source Sans Pro', sans-serif;
    color: $linkcolor;
    padding: 7px 28px;
    transition: all 0.5s ease;
    text-align: center;
    &:hover,
    &:active {
      border: 2px solid $linkcolor;
      background: $linkcolor;
      color: $background;
    }
  }
  &__basket {
    display: block;
    padding: 0 12px;
    flex: 0 0 auto;
    @media screen and (min-width: 1360px) {
      padding: 0 24px;
    }
    @media screen and (min-width: 1200px) {
      padding: 0 24px;
      padding-left: 0;
    }
  }
  &__basket-wrapper {
    position: relative;
    padding-left: 34px;
    display: block;
    text-decoration: none;
    &:hover,
    &:active {
      .header__basket-text {
        text-decoration: underline;
      }
    }
  }
  &__basket-img {
    width: 19px;
    height: 19px;
    fill: $linkcolor;
    position: absolute;
    left: 0;
    top: 2px;
  }
  &__basket-price {
    font: 700 17px / 25px 'Fregat', sans-serif;
    color: $titlecolor;
  }
  &__basket-text {
    font: 400 15px / 25px 'Source Sans Pro', sans-serif;
    color: $linkcolor;
    transition: all 0.5s ease;
  }
  &__nav {
    border-top: 2px solid #e9e9e9;
    &-container {
      position: relative;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (min-width: 990px) {
        padding: 13px 0;
      }
    }
    &-list {
      display: none;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -11px;
      @media screen and (min-width: 990px) {
        display: flex;
      }
      @media screen and (min-width: 1200px) {
        margin: 0 -30px;
      }
    }
    &-item {
      padding: 5px 11px;
      @media screen and (min-width: 1360px) {
        padding: 5px 30px;
      }
      @media screen and (min-width: 1200px) {
        padding: 5px 25px;
      }
    }
    &-link {
      font: 700 17px / 25px 'Fregat', sans-serif;
      text-transform: uppercase;
      color: #1d1d1b;
      text-decoration: none;
      transition: all 0.2s ease;
      &:hover,
      &:active {
        color: $linkcolor;
      }
    }
  }
}