.title {
  display: flex;
  justify-content: center;
  align-items: center;
  &__divider {
    display: block;
    height: 5px;
    background-color: #dfdcdc;
    flex: 1 1 auto;
  }
  &__text {
    font: 400 20px / 27px 'GnuolaneFree', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: $titlecolor;
    margin: 0;
    flex: 0 1 auto;
    padding: 0 15px;
    max-width: 250px;
  }
}