$background: #fff;
$fontcolor: #595958;
$linkcolor: #ff9b30;
$titlecolor:  #1d1d1b;
$inputcolor: #dedede;
$greycolor: #959595;
$blackcolor: #363635;
$orangecolor: #f07d00;
$greybgcolor: #f8f8f8;
$footerfont: #8a8a8a;
$footernavfont: #656565;
$yellowcolor: #ffdf4a;
$oldprice: #9f9f9f;
$whitecolor: #f8f8f8;
$placeholder: #9d9d9d;
$greencolor: #35d174;
$reviewsrc: #a1a1a1;
$aboutlabel: #a6a6a6;
$btnhover: #ffc355;
$popupinput: #3e3e3c;